* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(233, 233, 233);
}
.productConatiner {
  display: block;
}
.navigation {
  display: flex;
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  padding: 30px;
  background-color: rgb(233, 233, 233);
  font-size: 25px;
}
